.idea/
cmake-build-debug/
build/
.vs/
node_modules/
bin/

scratch.js

src/headers/*
src/headers/*/
!src/headers/gif_decode.h
!src/headers/file_io.h
!src/headers/imagy.h
!src/headers/boost

tests/media_output/*
!tests/media_output/.gitkeep
